@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: 'Cormorant', sans-serif;
  font-weight: 500;
}

/* Navbar 1 */
.navbar-fixed {
  @apply flex z-50 bg-white bg-opacity-70;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgb(107, 75, 75);
}

.hamburger-line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: brown;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hamburger-active > span:nth-child(1) {
    @apply  rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply  -rotate-45;
}
/* end Navbar 1 */

  /* Slider */
  .slides{
    width: 100%;
    position: block;
    padding-top: 5rem;
  }
  
  .slides .slide{
    display: none;
  }
  
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 10px;
    color: rgb(0, 0, 0);
    
    user-select: none;
    transition: 0.6s ease;
  }
  
  .slides .navigation .prev:hover, .slides .navigation .next:hover{
    background:transparent rgb(0, 0, 0);
    position: fixed;
  }
  
  @keyframes fade {
    from{opacity: 0.3}
    to {opacity: 1}
  }
  
  @media (max-width: 992px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 18px;
      padding: 13px;
    }
  }
  
  @media (max-width: 768px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 15px;
      padding: 10px;
    }
  }
  
  @media (max-width: 576px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 12px;
      padding: 7px;
    }
  }
  
  @media (max-width: 360px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 11px;
      padding: 6px;
    }
  }  
  